
@{
    ViewBag.Title = "CustomerSupport";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="row mt-md-5">
    <div class="col-md-7">
        <img src="~/Lib/images/customersupport.jpg"  class="img-fluid"/>
    </div>
    <div class="col-md-5">
        <h3 class="text-warning font-italic">Club Valero Customer Support</h3>
        <p class="text-info font-italic">
            404, DDA -5, Building
            District Centre, Janak Puri,
            New Delhi 110058
        </p>
        <p class="text-info font-italic">
            +91 84484 40705
            info@clubvalero.com
        </p>

       

       
    </div>
</div>


